html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Tsukushi A Round Gothic";
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}

/* /// ヘッダー領域 /// */
header {
    margin-top: 20px;
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
}
.WDS_icon img {
    padding: 20px;
    width: 200px;
    float: left;
}
.site_thema {
    float: left;
    font-size: 20px;
    color: #0066CC;
}

/* /// コンテンツ領域 /// */
main {
    height: auto;
    max-width: 100%;
    background-color: white;
}
.container{
    padding: 2%;
    height: auto;
    width: 100%;
    background-color: skyblue;
}

/* 事業者名入力パーツ */
#Applicant {
    padding-bottom: 20px;
}
#label_CompanyName {
    font-size: 24px;
    font-weight: bold;
    color: #000077;
}
input#CompanyName {
    width: 300px;
    height: 30px;
}
/* /// 予測単位の定義領域 /// */
#FCT_unit {
    padding-left: 10px;
}

/* 予測単位名パーツ */
.FCT_unit_Name {
    font-size: 20px;
    color: #0000BB;
}
input#FCT_unit_Name {
    width: 500px;
    height: 30px;
}

/* /// 発電所スペック領域 /// */
.PVgroup_spec {
    padding: 1% 5%;
    display: flex; /* 子要素を横並びに */
    flex-direction: row; /* 子要素を２段に */
    flex-wrap: wrap; /* 子要素を折り返して表示 */
}
.PVgroup_wrapper {
    width: 50%; /* 子要素を50%ずつ横並びに */
}

/* 予測単位追加設定ボタンパーツ */
.add_FCT_unit {
    padding: 10px;
}
#add_unit_button {
    font-size: 20px;
}

/* PV出力予測サービス申し込みボタンパーツ */
#apply {
    padding-top: 50px;
}
#apply_button {
    font-size: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 200px;
    padding: 1rem 1rem;
    font-weight: bold;
    border-radius: 100vh;
    border-bottom: 7px solid #CC3366;
    background: #FF66CC;
    color: #fff;
}

/* 設定保存日時表示パーツ */
#timestampDisplay {
    font-size: 12px;       /* 小さいフォントサイズ */
    color: white;          /* 白文字 */
    margin-top: 5px;       /* ボタンとの間に少しスペース */
    margin-left: 10px;     /* ボタンの横に配置 */
    display: inline-block; /* ボタンと横並びに配置 */
}

/* login.php のstyle */
.login_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* 認証ボタンパーツ */
.certification_btn {
    text-align: center; /* ボタンを中央に配置 */
    margin-top: 60px; /* セクションとの間に余白を追加 */
}